.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #282c34;
  text-align: center;
}

.game-container {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  border: 3px solid #333;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  transform-origin: top center;
}

@media (max-height: 1020px) {
  .game-container {
    transform: scale(calc((100vh - 20px) / 1000));
  }
}

@media (max-width: 960px) {
  .game-container {
    transform: scale(calc(100vw / 970));
  }
}
